.Container-features {
    padding-top: 90px;
}

.about {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 37px;
}

.features {
    width: 80%;
    margin: 65px auto 0 auto;
}

.facilities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facilities ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.facilities li {
    color: #232323;
    line-height: 1.2em;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.about_desc {
    width: 600px;
}

.about_img {
    flex: 1;
    width: 600px;
    margin: auto;
}

.about_img img {
    width: 100%;
    height: auto;
}

.aboutushead {
    color: #232323;
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
}

.textabout {
    color: #232323;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1286px) {
    .about_img {
        width: 500px;
    }
    .about {
        width: 90%;
        gap: 30px;
    }
    .features {
        width: 90%;
    }
}

@media screen and (max-width: 986px) {
    .about {
        width: 86%;
        flex-direction: column;
    }
    .features {
        width: 86%;
    }
    .facilities {
        flex-wrap: wrap;
    }
    .about_img {
        width: 80%;
    }
    .about_desc {
        width: 100%;
    }
}

@media screen and (max-width: 586px) {
    .about {
        width: 90%;
        flex-direction: column;
        margin: 45px auto 25px;
    }
    .features {
        width: 90%;
        justify-content: start;
        margin: 25px auto;
    }
    .facilities {
        margin-top: 20px;
    }
    .facilities ul {
        margin-bottom: 10px;
    }
    .aboutushead {
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 0;
    }
    .textabout {
        margin-top: 20px;
    }
    .about_img {
        width: 100%;
    }
}
