  .nav_bar{
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .nav_bar_all_res{
    display: none;
    position: absolute;
    color: white;
    font-size: 30px;
    top:20px;
    right: 45px;
    cursor: pointer;
  }
 .nav_bar_all{
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding:20px 9%;
    margin-left:auto;
    top:0;
    box-sizing: border-box;
 }
 .col{
    background-color:#292d33;
 }
 .coln{
  background-color:#3c373e;
}
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f66524;
 }
 .nav_links ul{
    opacity: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-bottom: 0;
 }
 .nav_links ul li button{
    padding:8px 10px;
    background-color: #f66524;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.navitems li{
  display: flex;
}
.header_links{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding:8px
 }
 .header_links:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0%;
    background-color: #f66524;
    transition: width 0.3s ease;
  }
  .header_links:hover:after {
    width: 100%;
    left: 0;
    background-color: #f66524;
  }

@media only screen and (max-width:1150px) and (min-width:992px){
    .header_links{
        font-size: 16px;
      }
      .nav_links ul li button{
        font-size: 14px;
      }
     .nav_bar_all{
    padding: 15px 5%;}
}
@media only screen and (max-width:992px){
    .header_links{
        font-size: 18px;
      }
      .nav_links ul li button{
        font-size: 16px;
      }
    .header_links{
        font-size: 16px;
      }
      .nav_links ul li button{
        font-size: 14px;
      }
    .nav_bar_all_res{
        display: block;
    }
    .logo{
        /* color: #fff; */
        justify-content: left;
    }
    .nav_bar{
        padding-left: 0;
    }
    .nav_bar_all{
        width: 100%;
        /* padding-top:40px; */
        display: block;
    }
    .resmenu{
        position: absolute;
    }
    .hide{
        /* display: none; */
        transform: translate(120%);
    }
    .navitems{
        border-radius: 14px;
        transition: .85s ease transform;
        background-color: #1e1e1e;
        padding:30px;
        width:80%;
        max-width: 200px;
        position: absolute;
        right: 10px;
        top:52px;
        
    }
    .navitems li{
        text-align: center;
        width: 100%;
    }
    .navitems li button{
        /* text-align: center; */
        width: 90%;
    }
    .nav_links ul{
        flex-direction: column;
    }
    .navitems li{
        width: 100%;
        display:block;
        margin-bottom:4%;
        background-color: #1e1e1e;
        
    }
    .nameres{
        color:#f66524
    }
    .coln{
      background-color:transparent;
    }
}