
.admincontainer {
    background-color:rgb(240, 236, 236);
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 38px;
    margin-left:200px;
}
    
.adminmain-container {
    width: 80%;
    height: 100%;
    border: 1px solid white;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    /* margin-bottom: 15px; */
}

.adminbookingform{
    width: 80%;
    margin: 40px auto 20px auto;
    display: flex;
    padding:10px;
    height:50%;
    flex-direction: column;
}
.adminbookingform i {
    font-size: 8px;
    color: red;
}
.det-1 {
    font-size: 30px;
    color: #808080;
    margin-bottom: 30px;
}
.labelname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fname {
    display: flex;
    flex-direction: column;
    width: 48%;
    /* margin: 10px 0; */
}
.fname label {
    font-size: 16px;
    font-family: "Montserrat";
    padding: 8px;;
    color: #000;
    pointer-events: none;
    /* margin-bottom: 5px; */
}
.fname input {
    /* width: 90%; */
    height: 30px;
    padding: 0px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.fname input:focus {
    border: 1.5px solid #008080;
}

.lname {
    display: flex;
    flex-direction: column;
    width: 48%;
    /* margin: 10px 0; */
}
.lname label {
    font-size: 16px;
    font-family: "Montserrat";
    padding: 8px;
    color: #000;
    pointer-events: none;
    /* margin-bottom: 5px; */
}
.lname input {
    /* width: 90%; */
    height: 30px;
    padding: 0px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.lname input:focus {
    border: 1.5px solid #008080;
}

.special {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}
.special label {
    font-size: 16px;
    font-family: "Montserrat";
    color: #000;
    pointer-events: none;
    margin-bottom: 5px;
}
.special textarea {
    height: 140px;
    padding: 0px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 13px;
    padding-top: 10px;
}
.special textarea:focus {
    border: 1.5px solid #008080;
}
.persons {
    padding: 10px 0;
}
.persons label {
    font-size: 16px;
    font-family: "Montserrat";
    padding: 0;
    color: #000;
    pointer-events: none;
    margin-bottom: 5px;
}
select {
    height: 30px;
    padding: 0px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.rooms {
    padding: 10px 0 10px 0;
}
.spanad {
    font-size: 18px;
    font-family: "Montserrat";
    color: #000;
    pointer-events: none;
    margin-bottom:8px;
}
.rooms input {
   margin-bottom: 10px;
}
.adminbookingform button {
    font-size: 15px;
    color: #FFFFFF;
    background-color: #008080;
    outline: none;
    border: none;
    padding: 10px 0px;
    width: 120px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor:pointer;
}
@media only screen and (max-width:1015px){
    .admincontainer{
      margin-left: 200px;
      padding-top: 50px}
      .adminmain-container {
        width: 85%;

    }
}
@media only screen and (max-width:786px){
    .admincontainer{
      padding-top:60px}
      .adminmain-container {
        width: 96%;

    }
}
@media only screen and (max-width:568px){
    .admincontainer{
      padding-top:60px}
      .adminmain-container {
        width: 100%;
    }
    .adminbookingform{
        width: 88%;
    margin: 40px auto 0 auto;
    }
    .labelname{
        flex-direction: column;
    }
    .labelname div{
        width: 100%;
    }
}
@media only screen and (max-width:430px){
    .admincontainer{
        padding-left: 20px;
        padding-right: 20px;
    }
}