body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=Cinzel+Decorative&family=EB+Garamond&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Inter:wght@400;500&family=Jockey+One&family=Lato:ital@0;1&family=Lobster&family=Martian+Mono:wght@300&family=Montserrat&family=Mooli&family=Playfair:ital@1&family=Poppins&family=Rajdhani:wght@600&family=Roboto+Slab:wght@200;300;400&family=Roboto:ital,wght@0,300;1,300&family=Source+Serif+4&family=Space+Grotesk&family=Work+Sans:wght@300;400;500;600&display=swap');
